@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* compact tabbar */
#tabbrowser-tabs {
  --tab-min-height: 25px !important;
}
:root[uidensity=compact] #navigator-toolbox {
  --tab-min-height: 22px !important;
}
:root:not([customizing]) :hover > #nav-bar,
:root:not([customizing]) #nav-bar:focus-within {
  transition: inherit !important;
}
