[uidensity="compact"]:root #urlbar, [uidensity="compact"]:root .searchbar-textbox {
  margin-top: 7px !important;
  min-height: 21px !important;
}

#nav-bar {
  height: 32px;
}

.toolbarbutton-1 {
  margin-bottom: -6px !important;
}

#back-button, #forward-button {
  display: none;
}

#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon {
  margin-bottom: 4px !important;
}

[uidensity="compact"]:root {
  --tab-min-height: 24px !important;
}

.tabbrowser-tab {
  height: var(--tab-min-height) !important;
}
