#nav-bar {
  height: 32px;
}

.toolbarbutton-1 {
  margin-bottom: -4px !important;
}

#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon {
  margin-bottom: 4px !important;
}

[uidensity="compact"]:root {
  --tab-min-height: 28px !important;
}

.tabbrowser-tab {
  height: var(--tab-min-height) !important;
}
