[uidensity="compact"]:root {
  --tab-min-height: 24px !important;
}

.tabbrowser-tab {
  height: var(--tab-min-height) !important;
}

[uidensity="compact"]:root #urlbar, [uidensity="compact"]:root .searchbar-textbox {
  margin-top: 7px !important;
  min-height: 21px !important;
}

#TabsToolbar {
  margin-left: 28vw !important;
}

#nav-bar {
  margin-right: 72vw !important;
  height: 32px;
}

.toolbarbutton-1 {
  margin-bottom: -6px !important;
}

#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow {
  -moz-box-ordinal-group: 0 !important;
  margin-left: -8px !important;
  margin-right: -12px !important;
}

#back-button, #forward-button {
  display: none;
}

#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon {
  margin-bottom: 4px !important;
}
