@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document url-prefix("https://mail.google.com/mail/") {
.ii, textarea {
  font-family: monospace, Consolas, "Courier New" !important;
}
}

/* https://userstyles.org/styles/49684/youtube-2016-full-width-responsive-player-wide-hd */
@-moz-document domain(youtube.com) {
div#theater-background.player-height {
  display: none !important;
}
.watch-stage-mode .player-height {
  height: 55.75vw !important;
}
.watch-stage-mode .player-width {
  width: 100% !important;
  left: 0 !important;
}
.watch-stage-mode .player-width {
  margin-left: 0 !important;
}
}

/* https://userstyles.org/styles/131509/youku-fullscreen */
@-moz-document domain("v.youku.com") {
#player {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	z-index: 10000 !important;
}
.yk-header,
.yk-sidebar-w970,
#id_google_tr,
#player_sidebar,
#sideTool,
.mainCol,
#qheader,
#vpactionv5_wrap,
.sideCol {
	display: none !important;
}
}
